@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Solution created by the company - Furlaneti Support in Technology LTDA - National Register of Legal Entities number 14.486.046/0001-77.</p>
